/*
 Symantec copyright header start

 Copyright © 2016, Symantec Corporation, All rights reserved.

 THIS SOFTWARE CONTAINS CONFIDENTIAL INFORMATION AND TRADE SECRETS OF SYMANTEC
 CORPORATION.  USE, DISCLOSURE OR REPRODUCTION IS PROHIBITED WITHOUT THE PRIOR
 EXPRESS WRITTEN PERMISSION OF SYMANTEC CORPORATION.

 The Licensed Software and Documentation are deemed to be commercial computer
 software as defined in FAR 12.212 and subject to restricted rights as defined
 in FAR Section 52.227-19 "Commercial Computer Software - Restricted Rights"
 and DFARS 227.7202, “Rights in Commercial Computer Software or Commercial
 Computer Software Documentation”, as applicable, and any successor regulations.
 Any use, modification, reproduction release, performance, display or disclosure
 of the Licensed Software and Documentation by the U.S. Government shall be
 solely in accordance with the terms of this Agreement.

 Symantec copyright header stop

*/
.body {
  padding-left: 150px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
}

#container {
  overflow-x: hidden;
  height: 100%;
}

.content-header {
  height: 41px;
  line-height: normal;
  margin: 0 auto;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 36px;
  text-align: center;
  color: #333333;
}

.content-text {
  width: 660px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: auto;
  color: #333333;
}

.block {
    margin: auto;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: -50px;
    margin-left: -274px;
}
.table-block {
  width: 100%;
  height: 60px;
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-left: -280px;
  margin-top: 2px;

}
.pwd-input-block {
  height: 80px;
}

.block1 {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-left: -274px;
  margin-top: -42px;
}

.pwd-input-block1 {
  height: 100px;
}

.block2 {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-left: -274px;
  margin-top: -16px;
}

.block3 {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-left: -274px;
  margin-top: 3px;
}


.vault-validate-right-img {
  background-image: url(../images/ic-check.svg);
  background-size:     16px 16px;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 16px;
  height:16px;
  padding-left: 10px;
  bottom: 2px;
  position: relative;
}

.vault-validate-wrong-img {
  background-image: url(../images/ic-error.svg);
  background-size:     16px 16px;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
  padding-left: 10px;
  bottom: 3px;
  position: relative;
}
table{
    margin: auto;
}
.passwordStrengthItem {
  width: 273.9px;
  height: 18px;
  font-family:  "Helvetica Neue","Segoe UI", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262626;
  text-align: left;;
  color:black;
  padding-bottom: 6px;
}

.strength-div{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: -10px;
}

.strength{
  flex-flow: column;
  display: flex;
  margin-top: 10px;
  height: 19px;
  width: 409px;
  margin-left: -570px;
}

.strength-text{
  font-weight: bold;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 14px;
  color: #333333;
}

body[dir="rtl"] .strength-text{
  margin-right: 11px;
}

body[dir="rtl"] .strength{
  margin-left: 40px
}

.strength-type{
  height: 19px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 14px;
}

.unacceptable-message-div{
  width: 430px;
  height: 57px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  padding-top: 20px;
  margin-left: -550px;
}

body[dir="rtl"] .unacceptable-message-div{
  margin-right: -610px;
}

.red-bold-message{
  font-weight: bold;
  color: #c81a00;
}

.blue-message{
  color: #0089c6;
  cursor: pointer;
}

.slider-range-wrapper {
  overflow: hidden;
  padding-top: 10px;
  position: relative;
  width:430px;
  margin-left: -550px;
}

body[dir="rtl"] .slider-range-wrapper {
  margin-left: unset
}

.slider-input {
  width:430px;
  height : 10px;
  border-radius: 5px;
  border:none;
}

.slider-weak {
  width: 30px;
  height : 10px;
  border-radius: 5px;
}

.previousVaultPasswordStrengthList{
   margin: auto;
   padding-left: 900px;
   padding-bottom: 100px;
   table-layout: fixed;
   width: 443px
}
.passwordStrengthList{
   margin: auto;
   padding-left: 900px;
   padding-top: 31px;
   table-layout: fixed;
   width: 443px
}

.cancel1 {
  font-size: 14px;
  text-align: right;
  color: #0089c6;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  cursor: pointer;
  margin: auto;
  margin-right: 740px;
  margin-top: -18px;
  display: block;
}

.cancel {
 font-size: 14px;
 text-align: right;
 color: #0089c6 ;
 font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
 cursor: pointer;
 margin: 0 auto;
 left: 300px;
 top: 50px;
 display: block;
 position: relative;
 background-color: white;
 border: none;
}

.save {
  width: 114px;
  height: 44px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 14px;
  text-align: center;
  color: #333333 ;
  border: none;
  cursor: pointer;
  background-color: #ffe283 ;
  margin: auto;
  left: 400px;
  top: 80px;
  display: block;
  position: relative;
}
.save:disabled {
    background-color: #f2f2f2;
    cursor: auto;
}
.passwordinput {
  background-color: #f8f8f8;
  border: solid 1px #a0a0a0;
  width: 430px;
  height: 42px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  padding-right: 35px;
  margin-top: 20px;
}
.passwordinput:focus {
  background-color: rgba(0, 174, 239, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 174, 239, 0.5);
}
.passwordinput:disabled {
  background-color: #CECECE;
  color: #a0a0a0;
  width: 430px;
  height: 42px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  padding-right: 35px;
  margin-top: 20px;
}
.eye {
  width: 24px;
  height: 25px;
  padding-top: 59px;
  cursor: pointer;
  background-position: center;
  background-repeat:no-repeat;
  position: absolute;
  right: 10px;
}
.row-block {
  position: relative;
}

.incorrectPass {
  min-width: 409;
  font-size: 12px;
  text-align: left;
  padding-bottom: 4px;
  padding-top: 8px;
  margin-bottom: -15px;
  margin-top: 2;
  font-weight: 600;
  line-height: 0.83;
  color: #c81a00;
}

.text-area-error {
  min-width: 409;
  font-size: 12px;
  text-align: left;
  padding-bottom: 4px;
  padding-top: 8px;
  margin-bottom: -15px;
  margin-top: 2;
  font-weight: 600;
  line-height: 0.83;
  color: #c81a00;
}

.text-area{
  width: 430px;
  height: 42px;
  background-color: #f8f8f8;
  border: solid 1px #a0a0a0;
  position: relative;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  font-stretch: normal;
  color: #333333;
  text-align: top;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 35px;
  margin-top: 20px;
  margin: auto;
  display: block;
  text-align: left;
  resize: none;
}

.text-area:disabled{
  width: 430px;
  height: 42px;
  background-color: #CECECE;
  color: #a0a0a0;
  position: relative;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  font-stretch: normal;
  text-align: top;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 35px;
  margin-top: 20px;
  margin: auto;
  display: block;
  text-align: left;
  resize: none;
}

.changepwd-complete-image {
  width: 100px;
  height: 100px;
  background-image: url(../images/ic-logo-complete.svg);
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 50px;
}

.change-password-complete {
  width: 650px;
  font-family: "HelveticaNeue","Segoe UI", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 36px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin:auto;
  margin-top: 40px;
}

body[dir="rtl"] .passwordinput {
  padding-left: 35px;
  padding-right: 20px;
}
body[dir="rtl"] .eye {
  left: 10px;
  right: auto;
}
body[dir="rtl"] .block {
  margin-left: 0;
}
body[dir="rtl"] .passwordStrengthItem {
  text-align: right;
  padding-right: 3px;
}

.img-sign-in-animation {
  width: 100px;
     height: 100px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: 100px 100px;
     background-image: url(../images/img-sign-in-animation.png);
     -webkit-animation: spin .8s linear infinite;
     -moz-animation: spin .8s linear infinite;
     animation: spin .8s linear infinite;
     margin: auto;
     padding-top: 108px;

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .img-sign-in-animation {
    background-image: url(../images/img-sign-in-animation@2x.png);
  }
}

@media
(-webkit-min-device-pixel-ratio: 3),
(min-resolution: 300dpi) {
  .img-sign-in-animation {
    background-image: url(../images/img-sign-in-animation@3x.png);
  }
}
.ic-vault-data {
   width: 63px;
   height: 63px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 63px 63px;
   background-image: url(../images/ic-vault-data.svg);
   margin: auto;
   margin-top: -135;
}
.change-pwd-progress {
  width: 650px;
  font-family: "HelveticaNeue","Segoe UI", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 36px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin: auto;
  margin-top: 50px;
}
