/*
 Symantec copyright header start

 Copyright © 2019, Symantec Corporation, All rights reserved.

 THIS SOFTWARE CONTAINS CONFIDENTIAL INFORMATION AND TRADE SECRETS OF SYMANTEC
 CORPORATION.  USE, DISCLOSURE OR REPRODUCTION IS PROHIBITED WITHOUT THE PRIOR
 EXPRESS WRITTEN PERMISSION OF SYMANTEC CORPORATION.

 The Licensed Software and Documentation are deemed to be commercial computer
 software as defined in FAR 12.212 and subject to restricted rights as defined
 in FAR Section 52.227-19 "Commercial Computer Software - Restricted Rights"
 and DFARS 227.7202, “Rights in Commercial Computer Software or Commercial
 Computer Software Documentation”, as applicable, and any successor regulations.
 Any use, modification, reproduction release, performance, display or disclosure
 of the Licensed Software and Documentation by the U.S. Government shall be
 solely in accordance with the terms of this Agreement.

 Symantec copyright header stop

*/

.compromised-password-modal * {
  box-sizing: border-box;
}

.compromised-password-modal button {
  outline: none;
  cursor: pointer;
}

.compromised-password-modal.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,.5);
}

.compromised-password-modal .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 510px;
  max-width: 100%;
  max-height: 100vh;
  color: #333;
  background-color: #fff;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  font-family: Segoe UI, Helvetica Neue, Lucida Sans Unicode, sans-serif;
}

.compromised-password-modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0;
  padding: 0;
  z-index: 1;
}

.compromised-password-modal .modal-content {
  width: 100%;
  max-height: inherit;
  padding: 30px;
  overflow: auto;
}

.compromised-password-modal header {
  display: flex;
  margin-bottom: 25px;
}

.compromised-password-modal header h1 {
  font-size: 19px;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 0 10px;
}

.compromised-password-modal header img {
  height: 22px;
  display: inline-block;
}

.compromised-password-modal p {
  font-size: 13px;
}

.compromised-password-modal a {
  color: #0089c6;
  text-decoration: none;
}

.compromised-password-modal .action-button {
  display: block;
  padding: 7px 60px;
  background-color: #ffe283;
  font-size: 13px;
  text-align: center;
  color: #333333;
  margin: 25px auto;
  border: 0;
}

.compromised-password-modal[dir="rtl"] .close {
  right: auto;
  left: 20px;
}

footer {
  text-align: center;
  font-size: 13px;
}

