.vault-validate-right-img {
  background-image: url(../images/ic-check.svg);
  background-size:     16px 16px;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 16px;
  height:16px;
  padding-left: 10px;
  padding-bottom: 25px;

}

.vault-validate-wrong-img {
  background-image: url(../images/ic-error.svg);
  background-size:     16px 16px;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
  padding-left: 10px;
  padding-bottom: 25px;

}
table{
    /*border: 1px solid black;*/
    margin: auto;
}
.passwordStrengthItem {
  width: 273.9px;
  height: 18px;
  font-family:  "Helvetica Neue","Segoe UI", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262626;
  text-align: left;;
  color:black;
}
.passwordStrengthList{
    margin-top:40;
}

body[dir="rtl"] .passwordStrengthItem {
  text-align: right;
  padding-right: 3px;
}

.strength-div{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.strength{
  flex-flow: column;
  display: flex;
  margin-top: 20px;
  height: 19px;
  width: 650px;
}

body[dir="rtl"] .strength{
  align-items: flex-start;
}

.strength-text{
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.strength-type{
  height: 19px;
  font-size: 14px;
}

.unacceptable-message-div{
  width: 650px;
  height: 38px;
  font-family: "Segoe UI", "Helvetica Neue", "HelveticaNeue", Helvetica, "Lucida Sans Unicode", Arial, Sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 0 auto;
  color: #333333;
  padding-top: 20px;
}

.red-bold-message{
  font-weight: bold;
  color: #c81a00;
}

.blue-message{
  color: #0089c6;
  cursor: pointer;
}

.slider-range-wrapper {
  overflow: hidden;
  padding-top: 10px;
  position: relative;
  width:650px;
}

.slider-input {
  width:650px;
  height : 10px;
  border-radius: 5px;
  border:none;
}

.slider-weak {
  width: 80px;
  height : 10px;
  border-radius: 5px;
}
